.table-admin {
    
    height: 500px;
    align-items: center;
}

.tittle {
    font-size: 38px;
    font-weight: 680;
    color: blue;
    padding-bottom: 30px;
    text-align: center;
}

.table-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    float: left;
    background-color: white;
    width: 500px;
    height: 100%;
}

.right {
    float: right;
    background-color: #ccd4d1;
    width: 900px;
    height: 100%;
}