.table {
    width: 1200px;
    height: 500px;
    align-items: center;
    border: 1px red;
    display: flex;
}

.tittle {
    font-size: 38px;
    font-weight: 680;
    color: blue;
    padding-bottom: 30px;
    text-align: center;
}

.left {
    float: left;
    background-color: white;
    width: 30%;
    height: 100%;
}

.right {
    float: right;
    background-color: #ccd4d1;
    width: 70%;
    height: 100%;
}