/* HEADER */
.wrapper {
  height: 100px;
display: flex;
justify-content: center;
}

.header-top {
  height: 100%;
  width: 1150px;
  background-color: #000;
}

.header-top-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1217px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo {
  height: 90px;
  width: 200px;
  max-height: 90px;
  padding: 10px 0;
}

/* TIẾP THEO */